body {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

input {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}

.clickable {
  cursor: pointer;
}

.element {
  border-bottom-color: coral;
  border-bottom-width: 1px;
}

.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menubar li {
  float: left;
}

.menubar li p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menubar li p:hover {
  cursor: pointer;
}

table {
  margin: auto;
  padding: 10px;
}

td {
  padding: 6px;
}

button {
  margin: auto;
}

form {
  background-color: bisque;
}